// Google font
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

body {
	background: url(../images/background_mobile.svg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: calc(15px + 0.4vw);
	overflow: hidden;
}

// Horizontal line befor the h2 tag
.container {
	position: relative;

	h2.hr-line-before {
		margin-bottom: 1.3em;
		margin-left: 2em;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			margin-top: 0.6em;
			border-bottom: 1px solid black;
			width: 1.5em;
		}
	}
}

// Section Introduction
section.introduction {
	p {
		line-height: 1.4;
	}

	.hello {
		color: #1e9d9d;
	}

	.name {
		font-family: 'Reggae One', cursive;
		font-size: 3em;
	}

	.ux {
		font-size: 1.3em;
		font-weight: 600;
	}
}

// Section Contact
section.contact {
	a {
		text-decoration: none;
		color: black;
	}
}

//Section Image
section.image-box {
	img {
		position: fixed;
		right: -2em;
		bottom: 0;
		width: 300px;
		height: auto;
		z-index: -1;
	}
}

// Section Find me
section.find-me {
	color: white;
	position: fixed;
	width: 100%;
	bottom: 0;

	.container {
		text-align: center;
	}

	h2 {
		display: inline;

		&:after {
			content: '';
			position: absolute;
			margin-top: 0.6em;
			margin-left: 0.4em;
			border-bottom: 1px solid white;
			width: 1.5em;
		}
	}

	div.icon {
		display: inline;
		margin-left: 4em;

		a {
			margin: 0.3em;
		}
	}
}

@media screen and (min-width: 320px) {
	section.image-box {
		img {
			width: 230px;
		}
	}
}

@media screen and (min-width: 375px) {
	section.image-box {
		img {
			width: 300px;
		}
	}
}

@media screen and (min-width: 414px) {
	section.image-box {
		img {
			width: 350px;
		}
	}
}
